<launch>
    <node name="shiftmove_tf" pkg="shiftmove_tf" type="shiftmove_tf_node" output="screen">
        <param name="front_dist" value="2.0"/> 
        <param name="back_dist" value="-2.0"/> 
        <param name="left_dist" value="2.0"/> 
        <param name="right_dist" value="-2.0"/> 
    </node>
</launch>